<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <style> body{     
        width: 100vw;
        max-width: 1000px;
        height: 100vh;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
        }
        main > div{           
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
        }

    </style>
    <title>404</title>
</head>
<body>

    <main>
        <div>
        <h1>Página não encontrada</h1>
        <a href="/" style="text-decoration: none;">Clique aqui para retonar a página principal</a>
    </div>
    </main>
</body>
</html>