<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="apple-touch-icon" sizes="180x180" href="/assets/icons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/assets/icons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/assets/icons/favicon-16x16.png">
    <link rel="manifest" href="/assets/icons/site.webmanifest">
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />    
    <link rel="stylesheet" type="text/css" href="/css/responsivo.css">
    <link rel="stylesheet" type="text/css" href="/css/servicos/profissional.css">
    <script src="https://code.jquery.com/jquery-3.6.1.slim.js" integrity="sha256-tXm+sa1uzsbFnbXt8GJqsgi2Tw+m4BLGDof6eUPjbtk=" crossorigin="anonymous"></script>

    <script src="/js/menu.js"></script>
    
    <title>Seja um profissional</title>
</head>

<body>

    <%- include("../partials/navbar"); %> 


      <div class="profissional">
        <div class="como-funciona-freelancer">
            <h2>Freelancer</h2>
            <div class="perfil">
                <h4>Crie seu perfil</h4>
                <p>É grátis. Construa o seu perfil em questão de minutos, insira
                    suas habilidades, experiência, referências, informações e muito mais.</p>
            </div>
            <div class="contrato">
                <h4>Seja contratado</h4>
                <p>Através do seu perfil os clientes irão lhe contatar, por isso é importante
                    mantê-lo atualizado com trabalhos que exibam suas habilidades e interesses.</p>
            </div>
            <div class="receba">
                <h4>Receba com segurança</h4>
                <p>Com o pagamento seguro do eServices Senac você sempre será pago de forma rápida e segura.</p>
    
            </div>
        </div>
    
        <div class="como-funciona-cliente">
            <h2>Cliente</h2>
            <div class="cadastro">
                <h4>Crie seu perfil</h4>
                <p>É gratuito. Para ter acesso e contratar o serviços promovidos pela plataforma, é importante se cadastrar.
                </p>
            </div>
            <div class="contrate">
                <h4>Escolha um profissional</h4>
                <p>Após analisar os perfis dos profissionais e encontrar o ideal para a finalidade que você busca, basta
                    clicar no botão "Quero contratar", em seguida você será redirecionado para o contato com o profissional.
                </p>
            </div>
            <div class="pagamento">
                <h4>Pagamento</h4>
                <p>Solicitamos o pagamento minímo de 50% do serviço, que deve ser feito no momento inicial.
                    Com o pagamento seguro do eServices garantimos rapidez e segurança.</p>
            </div>
    
        </div>
        </div>
    










    <%- include("../partials/footer"); %> 
    <script src="/js/main.js"></script>

</body>

</html>