<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link
      rel="apple-touch-icon"
      sizes="180x180"
      href="/assets/icons/apple-touch-icon.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="32x32"
      href="/assets/icons/favicon-32x32.png"
    />
    <link
      rel="icon"
      type="image/png"
      sizes="16x16"
      href="/assets/icons/favicon-16x16.png"
    />
    <link rel="manifest" href="/assets/icons/site.webmanifest" />
    <link rel="stylesheet" type="text/css" href="/css/bootstrap.css" />
    <link rel="stylesheet" type="text/css" href="/css/reset.css" />
    <link rel="stylesheet" type="text/css" href="/css/main.css" />
    <link rel="stylesheet" href="/css/responsivo.css" />
    <link rel="stylesheet" href="/css/servicos/servicos.css" />
    <script src="/js/menu.js"></script>
    <title>Serviços</title>
  </head>
  <body>
    <!--Início-->
    <%- include("../partials/navbar"); %>

    <div class="info-servicos">
      <div class="info-tecnologia">
        <h2>Tecnologia no Senac</h2>
        <p>
          O mundo virtual incorpora e compartilha tecnologia, comunicação,
          informação, entretenimento, comércio, administração, gestão e
          logística em uma ampla rede com diversas possibilidades.
        </p>
      </div>
      <div class="info-gastronomia">
        <h2>Gastronomia no Senac</h2>
        <p>
          Chegou a hora de colocar a mão na massa para realizar o seu sonho de
          ser um chef renomado na cozinha.A gastronomia possibilita que você
          desenvolva competências com muita segurança, compreendendo o processo
          produtivo do alimento aliado às técnicas de cozinha. E a receita é
          simples: combinando conhecimentos clássicos, modernos e tecnológicos.
        </p>
      </div>
      <div class="info-marketing">
        <h2>Marketing no Senac</h2>
        <p>
          Visão integrada de estratégias e táticas da gestão mercadológica,
          propondo soluções criativas e empreendedoras que compreendem a busca
          em obter os melhores resultados para a organização.
        </p>
      </div>
      <div class="info-moda">
        <h2>Moda no Senac</h2>
        <p>
          O aquecido ramo da Moda exige cada vez mais criatividade, curiosidade,
          pesquisa de mercado, visão competitiva, além do amor pela história da
          moda, arte, design, estilo e muito mais!
        </p>
      </div>
      <div class="info-administracao">
        <h2>Administração no Senac</h2>
        <p>
          Atua em organizações públicas e privadas de segmentos variados, tais
          como das áreas de comércio, de serviços, da indústria, de consultoria,
          de ensino e pesquisa, relacionando-se com equipes de diversos setores
          da organização, por meio da prestação de serviços autônomos,
          temporários ou contrato efetivo.
        </p>
      </div>
      <div class="info-jogosdigitais">
        <h2>Jogos digitais no Senac</h2>
        <p>
          Não é de hoje que os games vêm ganhando espaço e aquecendo o mercado,
          seja para console, PC ou mobile. Jogos Digitais superam a movimentação
          financeira da indústria cinematográfica, além de serem um
          entretenimento a pessoas de todas as idades!
        </p>
      </div>
    </div>
    <script src="/js/main.js"></script>
    <%- include("../partials/footer"); %>
  </body>
</html>
